---
layout: default
title: 我的書籍目錄
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <h1>{{ page.title }}</h1>
    <ul>
      {% for file in site.static_files %}
        {% if file.extname == ".pdf" or file.extname == ".md" or file.extname == ".html" %}
          {% if file.path != "/index.html" %}
            <li>
              <a href="{{ site.baseurl }}{{ file.path }}">{{ file.name }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
</body>
</html>